<div class="hero-unit">
  <h2 class="title"><%= todo.title %></h2>
  <%- linkTo('Edit this todo', editTodoPath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Todo Properties</h2>
<% for(var i in todo) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= todo[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>